<!-- implement your code here -->
{%- case block.type -%}
{%- when 'related_products' -%}
{%- for product in collection.products -%}
    <li>
      <a class="product-card" href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
        {{ product.title }}
        <p>
          <span aria-hidden="true">—</span>
          {%- if product.price_varies -%}
            <span class="visuallyhidden">Starting at</span>
            {{ product.price_min | money_without_trailing_zeros }}
            <span aria-hidden="true">+</span>
          {%- else -%}
            {{ product.price | money_without_trailing_zeros }}
          {%- endif -%}
        </p>
        <p>
          <span class="visuallyhidden">by</span>
          {{ product.vendor }}
        </p>
      </a>
    </li>
{%- endfor -%}
{%- endcase -%}


{% schema %}
{
  "name": "Stories",
  "class": "section-stories",
  "tag": "div",
  "blocks": [
    {
      "name": "Story",
      "type": "story",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "title of your story"
        },
        {
          "type": "image_picker",
          "id": "story_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "story_link",
          "label": "Target URL"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Stories",
      "blocks": [
        {
          "type": "story",
          "settings": {
            "title": "Shopping Link",
            "story_link": "https://shopping.google.com/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
