<!-- implement your code here -->
{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'story' -%}
        <div class="{{ block.type }}">
         <div class="image-cont">
           <a href="{{ block.settings.story_link }}">
             <img class="related-product__image" src="{{ block.settings.story_image | img_url: '500x' }}" alt="{{ block.settings.title }}">
           </a>
           </div>
         <p>{{ block.settings.title }}</p>
        </div>
  {%- endcase -%}
{%- endfor -%}

{% stylesheet %}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Stories",
  "class": "section-stories",
  "tag": "div",
  "blocks": [
    {
      "name": "Story",
      "type": "story",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "title of your story"
        },
        {
          "type": "image_picker",
          "id": "story_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "story_link",
          "label": "Target URL"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Stories",
      "blocks": [
        {
          "type": "story",
          "settings": {
            "title": "Shopping Link",
            "story_link": "https://shopping.google.com/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
